provider "oci" {
  config_file_profile  = var.config_file_profile
  fingerprint          = var.api_fingerprint
  private_key          = local.api_private_key
  private_key_password = var.api_private_key_password
  region               = var.region
  tenancy_ocid         = local.tenancy_id
  user_ocid            = local.user_id
}

provider "oci" {
  alias                = "home"
  config_file_profile  = var.config_file_profile
  fingerprint          = var.api_fingerprint
  private_key          = local.api_private_key
  private_key_password = var.api_private_key_password
  region               = local.home_region
  tenancy_ocid         = local.tenancy_id
  user_ocid            = local.user_id
}
