# Identity and access parameters

api_fingerprint = ""

api_private_key_path = ""

region = "us-phoenix-1"

tenancy_id = ""

user_id = ""

# general oci parameters
compartment_id = ""

label_prefix = "dev"

# ssh keys
ssh_private_key_path = ""

ssh_public_key_path = ""

# networking

netnum = {
  bastion    = 32
  int_lb     = 16
  operator   = 33
  pub_lb     = 17
  workers    = 1
}

newbits = {
  bastion    = 13
  lb         = 11
  operator   = 13
  workers    = 2
}

bastion_enabled = true

operator_enabled = true

operator_instance_principal = true

# availability_domains

availability_domains = {
  bastion = 1
  operator  = 1
}

# oke

allow_node_port_access = false

allow_worker_ssh_access = false

cluster_name = "oke"

check_node_active = "none"

dashboard_enabled = false

kubernetes_version = "LATEST"

node_pools = {
  np1 = ["VM.Standard2.1", 3]
  #np2 = ["VM.Standard2.8", 4]
  #np3 = ["VM.Standard1.4", 5]
}

node_pool_name_prefix = "np"

node_pool_image_id = "none"

node_pool_os = "Oracle Linux"

node_pool_os_version = "7.8"

pods_cidr = "10.244.0.0/16"

services_cidr = "10.96.0.0/16"

worker_mode = "private"

# oke load balancers
lb_subnet_type = "public"

preferred_lb_subnets = "public"

waf_enabled = false

# ocir
secret_id = "none"

email_address = ""

tenancy_name = ""

username = ""

# helm
helm_enabled = false

helm_version = "3.1.0"

# calico
calico_enabled = false

calico_version = "3.12"

#metrics server
metricserver_enabled = false

use_encryption = false

existing_key_id = ""

# service account
create_service_account = true

service_account_name = "kubeconfigsa"

service_account_namespace = "kube-system"

service_account_cluster_role_binding = ""

# reuse existing vcn.If you are using base module below values can be derived from terraform output values.
reuse = false

vcn_id = 

bastion_public_ip = 
 
operator_private_ip = 

ig_route_id = 

nat_route_id = 
 
#dynamic group name for instance principal
dynamicgroup_name = 

worker_dnslabel = "worker"

lb_dnslabel = "publb"

  
