# Identity and access parameters

api_fingerprint = ""

api_private_key_path = ""

compartment_id = ""

tenancy_id = ""

user_id = ""

ssh_private_key_path = ""

ssh_public_key_path = ""

# general oci parameters
label_prefix = "dev"

region = "us-phoenix-1"

# networking

nat_gateway_enabled = true

netnum = {
  admin   = 33
  bastion = 32
  int_lb  = 16
  pub_lb  = 17
  workers = 1
}

newbits = {
  admin   = 13
  bastion = 13
  lb      = 11
  workers = 2
}

service_gateway_enabled = true

vcn_cidr = "10.0.0.0/16"

vcn_dns_label = "oke"

vcn_name = "oke vcn"


# bastion

bastion_access = "ANYWHERE"

bastion_enabled = true

bastion_image_id = "Autonomous"

bastion_notification_enabled = false

bastion_notification_endpoint = "<email_address>"

bastion_notification_protocol = "EMAIL"

bastion_notification_topic= "bastion_server_notification"

bastion_package_upgrade = false

bastion_shape = "VM.Standard.E2.1"

bastion_timezone = "Australia/Sydney"

admin_enabled = true

admin_image_id = "Oracle"

admin_instance_principal = true

admin_notification_enabled = false

admin_notification_endpoint = ""

admin_notification_protocol = "EMAIL"

admin_notification_topic= "admin_server_notification"

admin_package_upgrade = true

admin_shape   = "VM.Standard.E2.1"

admin_timezone= "Australia/Sydney"

# availability_domains

availability_domains = {
  bastion = 1
  admin  = 1
}

tagging = {
  computetag = { "Environment" = "dev" }
  networktag = { "Name" = "network" }
}

# oke

allow_node_port_access = false

allow_worker_ssh_access = false

cluster_name = "oke"

dashboard_enabled = false

kubernetes_version = "LATEST"

node_pools = {
  np1 = ["VM.Standard2.1", 3]
  #np2 = ["VM.Standard2.8", 4]
  #np3 = ["VM.Standard1.4", 5]
}

node_pool_name_prefix = "np"

node_pool_image_id = "NONE"

node_pool_os = "Oracle Linux"

node_pool_os_version = "7.7"

pods_cidr = "10.244.0.0/16"

services_cidr = "10.96.0.0/16"

worker_mode = "private"

# oke load balancers
lb_subnet_type = "public"

preferred_lb_subnets = "public"

# ocir
create_auth_token = false

email_address = ""

tenancy_name = ""

username = ""

# helm
helm_version = "3.1.0"

install_helm = false

# calico

calico_version = "3.12"

install_calico = false

#metrics server
install_metricserver = false

use_encryption = false

existing_key_id = ""

# service account
create_service_account = true

service_account_name = "kubeconfigsa"

service_account_namespace = "kube-system"

service_account_cluster_role_binding = ""
